## Isaac Higuchi

# Exercícios
### Semana 07

# Estruturas de Repetição - FOR

**[1]** Crie um programa para contar a quantidade de números pares entre $2$ e $99$.

Dica: utilize o operador $\%$, conhecido como módulo.

In [3]:
a=list(range(2,100,2))
len(a)

49

**[2]** Crie um programa para somar todos os pares entre $2$ e $99$.

In [8]:
soma=0
for i in range(2,100,2):
    soma+=i
print(soma)

2450

**[3]** Crie um programa para somar $n$ números gerados aleatoriamente entre $1$ e $10$, onde $n$ é informado pelo usuário.

In [16]:
import random
n=int(input('Quantidade de números a serem somados: '))
soma=0
a=random.randrange(1,11)
for a in range(n):
    a=random.randrange(1,11)
    soma+=a
print(soma)

Quantidade de números a serem somados: 1
2

**[4]** Crie um programa para imprimir uma agenda diária com horários de $15$ em $15$ minutos, conforme a listagem a seguir.

```
00:00
00:15
00:30
00:45
01:00
01:15
...
23:30
23:45
00:00
```

In [31]:
for h in range(24):
    for m in range(0,60,15):
        if m==0:
                m='00'
        if h==0:
            h='00'
        if h==1:
                h='01'
        if h==2:
                h='02'
        if h==3:
                h='03'
        if h==4:
                h='04'
        if h==5:
                h='05'
        if h==6:
                h='06'
        if h==7:
                h='07'
        if h==8:
                h='08'
        if h==9:
                h='09'
        print('{}:{}'.format(h,m))

00:00
000:15
0000:30
00000:45
01:00
001:15
0001:30
00001:45
02:00
002:15
0002:30
00002:45
03:00
003:15
0003:30
00003:45
04:00
004:15
0004:30
00004:45
05:00
005:15
0005:30
00005:45
06:00
006:15
0006:30
00006:45
07:00
007:15
0007:30
00007:45
08:00
008:15
0008:30
00008:45
09:00
009:15
0009:30
00009:45
10:00
10:15
10:30
10:45
11:00
11:15
11:30
11:45
12:00
12:15
12:30
12:45
13:00
13:15
13:30
13:45
14:00
14:15
14:30
14:45
15:00
15:15
15:30
15:45
16:00
16:15
16:30
16:45
17:00
17:15
17:30
17:45
18:00
18:15
18:30
18:45
19:00
19:15
19:30
19:45
20:00
20:15
20:30
20:45
21:00
21:15
21:30
21:45
22:00
22:15
22:30
22:45
23:00
23:15
23:30
23:45

**[5]** Criar um programa para imprimir a tabela de jogos para $5$ times, onde cada time joga com todos os outros duas vezes, a primeira vez em casa e a segunda, na casa do adversário.

```python
times = ['FLA', 'FLU', 'COR', 'PAL', 'VAS']
```

In [48]:
times=['FLA','FLU','COR','PAL','VAS']
jogos=[]
for a in range(5):
    for b in range(a+1,5):
        if a!=b:
            jogos.append('{} x {} ida {} x {} volta'.format(times[a], times[b], times[b], times[a]))
import random
random.shuffle(jogos)
import pandas as pd
tabela_ = pd.DataFrame(jogos)
tabela_.columns = ['Jogos de ida']
tabela = tabela_.set_index('Jogos de ida')
display(tabela)

Empty DataFrame
Columns: []
Index: [FLU x VAS ida VAS x FLU volta, FLA x PAL ida PAL x FLA volta, COR x VAS ida VAS x COR volta, FLU x PAL ida PAL x FLU volta, FLA x VAS ida VAS x FLA volta, FLU x COR ida COR x FLU volta, COR x PAL ida PAL x COR volta, FLA x COR ida COR x FLA volta, PAL x VAS ida VAS x PAL volta, FLA x FLU ida FLU x FLA volta]

In [38]:
times = ['FLA','FLU','COR','PAL','VAS']
jogo = []
for casa in times:
    for advers in times:
        if advers != casa:
            jogo.append('{} x {}'.format(str(casa), str(advers)))
import random
random.shuffle(jogo)
import pandas as pd
tabela_ = pd.DataFrame(jogo)
tabela_.columns = ['Tabela de Jogos']
tabela = tabela_.set_index('Tabela de Jogos')
display(tabela)

Empty DataFrame
Columns: []
Index: [FLUxVAS, CORxPAL, VASxFLA, FLAxPAL, FLAxCOR, PALxCOR, PALxFLU, FLUxCOR, VASxCOR, PALxVAS, FLUxFLA, PALxFLA, FLUxPAL, VASxFLU, FLAxVAS, VASxPAL, CORxFLU, CORxVAS, FLAxFLU, CORxFLA]

## Isaac Higuchi